<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/stylesheet.css">
    <title> All Authors </title>

</head>
<body>
  <main class="container" >    
    <%- include('../partials/_navbar.ejs')  %>

  <h1><%= author._id %></h1>
  <h1><%= author.role %></h1>
  <h1><%= author.username%></h1>
</main>
</body>
