<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Customer</title>
</head>

<body>

    <main class="container">
    <%- include('../partials/_navbar.ejs') %>
            <h1>Add new Customer</h1>
            <div>
                <form action="/" method="POST">
                    <div>
                        <label for="userId">User Id:</label>
                        <input type="text" name="userId" id="userId" value="<%= user._id  %>" disabled />
                    </div>
                    <div>
                        <label for="username">username</label>
                        <input type="text" name="username" id="username" value="<%= user.username  %>" disabled />
                    </div>
                    <div>
                        <label for="fName">First Name:</label>
                        <input type="text" name="fName" id="fName" />
                    </div>
                    <div>
                        <label for="lName">Last Name:</label>
                        <input type="text" name="lName" id="lName" />
                    </div>
                    <div>
                        <label for="bio">Bio</label>
                        <textarea name="bio" id="bio"></textarea>
                    </div>
                    
                    <button type="submit">Add Customer</button>

                </form>
            </div>
        </main>
</body>

</html>